html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.flex-container { 
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

 .flex-item{
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  color: white;
  line-height: 150px;
  text-align: center;
 }